* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #eee;
  font-family: monospace;
}
.root {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
  margin: 5rem;
}
.card {
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid rgb(87, 18, 87);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.51);
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in;
}
.card__info {
  padding: 0.5rem 2rem;
  background: linear-gradient(45deg, rgb(139, 45, 139), rgb(87, 18, 87));
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  transition: all 0.3s ease-in;
}
.card__name {
  font-size: 2rem;
  transition: all 0.3s ease-in;
}
.card__weight {
  transition: all 0.3s ease-in;
}
.card:hover {
  transform: translate(2px, -2px) scale(1.1, 1.1);
}
.card:hover .card__info {
  background: #eee;
  color: rgb(87, 18, 87);
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.card:hover .card__name {
  font-size: 2.5rem;
}
.card:hover .card__weight {
  text-align: center;
}
